/* 
    Document   : padrao
    Created on : 09/08/2013, 17:45:16
    Author     : Senai
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

a:hover{
    text-decoration: none; 
}

.comprasIndex, .vendasIndex, .resumoIndex, .custosIndex{
    width: 230px;
    float: left;
    margin-left: 40px;
}

.chequesIndex{
    float: left;
    width: 80%;
    margin-left: 40px;
    
}
.datacheque{
    float: right;
}
